include pug-components/configuracionesModal.pug


doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        title Modal
    body 
        +ModalButton('Modal 1 opción')(class="button-modal modal-name bg-greenButton")
        +Modal(titulo1, texto1, botones1, '')(class="modal-name modal-layout")
        +ModalButton('Modal 2 opciones')(class="button-modal modal-name2 bg-blueButton")
        +Modal(titulo2, texto2, botones2, '')(class="modal-name2 modal-layout")
        +ModalButton('Modal 3 opciones')(class="button-modal modal-name3 bg-redButton")
        +Modal(titulo3, texto3, botones3, 'https://www.google.com', 'l')(class="modal-name3 modal-layout")
        +ModalButton('Modal 3 opciones sin línea')(class="button-modal modal-name4 bg-orangeButton")
        +Modal(titulo4, texto4, botones4, '')(class="modal-name4 modal-layout")
        script(src="app_modal.js")